* {

}


body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;

  color: #FFFFFF;
  background: #3D4050;
}

.page-container {
  display: flex;
  flex-direction: column;

}

.content-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  padding-bottom: 93px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../img/background.jpg");
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.header {
  background: rgba(16, 16, 29, 0.9);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 34px;
    padding-bottom: 33px;
  }

  &__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    & span {
      color: #42A9ED;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    margin-left: 59px;
  }

  & a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;

    &:hover {
      color: #43ABF0;
      text-decoration: none;
    }
  }

}

.banner {
  padding: 104px 0;
  background-color: #f5f5f5;
  background-image: url('../img/banner.jpg');
  height: 750px;
  box-sizing: border-box;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 88px;
    max-width: 790px;
    letter-spacing: 0.3px;

    & span {
      color: #3E9CDC;
    }
  }

  &__list {
    list-style: none;
    padding: 0 0 0 25px;
    margin: 0 0 80px 0;

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;
    }

    & li {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 5px;
      letter-spacing: .1px;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    padding: 14px 15px 11px;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #2A2B30;
    transition: background-color 0.3s;
    border: 1px solid #6F6D7B;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 183px;

    &:hover {
      background: #3E9CDC;
      border-color: #FFFFFF;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 31px;
    }
  }
}

.content {
  padding: 50px 0;
  position: relative;

  &__title {
    text-align: center;
    margin: 70px 0 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: .9px;
    text-transform: uppercase;

    & span {
      color: #3E9CDC;
    }
  }

  &__text {
    color: #BBBBBB;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }


}

.circles {
  padding: 29px 0;

  &__list-item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: relative

  }

  &__wrapper {
    position: relative;
  }

  .circle {
    width: 100px;
    height: 100px;
    background: #3E9CDC;
    border: 5px solid #286690;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;

    & img {
      max-width: 50%;
      height: auto;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  &__dots-line {
    position: absolute;
    top: 29%;
    left: 66px;
    right: 160px;
    height: 6px;
    background-image: url("../img/circle-line.svg");
    background-size: 26px 6px;
    background-repeat: repeat-x;
    z-index: 1;
  }
}

.form-section {
  padding: 57px 0;
}

.form {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);

  &__input {
    padding: 13px 10px 11px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #272733;
    font-size: 18px;
    line-height: 22px;

    &:focus {
      background-color: #FFFFFF;
      outline: none;
    }
  }

  &__slider {
    grid-column: 1 / span 2;
  }

  &__button-attach {
    padding: 15px 10px 11px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

    background: #FFFFFF;
    border: 2px solid #3E9CDC;
    border-radius: 3px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 11px;
      height: 18px;
      background-image: url("../img/file.svg");
    }

    &:hover {
      opacity: .85;
    }
  }

  &__button-submit {
    padding: 14px 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    grid-column: 2 / 3;
    text-transform: uppercase;
    background: #3E9CDC;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-top: 26px;

    &:hover {
      opacity: .85;
    }
  }
}

.form__slider {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex-direction: column;
}

.form__range-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  outline: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #42A9ED;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #286690;
  }

  &::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #42A9ED;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #286690;
  }
}

.form__slider-value {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 8px;
}

.footer {
  padding: 30px 0;
  background-color: #3D4050;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      flex-grow: 1;

      &:not(:last-child) {
        border-right: 1px solid #C3C3C3;
      }
    }
  }

  &__copyright {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  &__socials {
    display: flex;
    gap: 10px;
    justify-content: space-around;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;

      color: #C3C3C3;
      text-decoration: none;

      font-size: 13px;
      line-height: 16px;

      &:hover {
        color: #FFFFFF;
      }

      & img {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  &__contacts {
    display: flex;
    gap: 40px;
    justify-content: space-around;

    & a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 13px;
      line-height: 16px;
      display: flex;

      & img {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      &:hover {
        opacity: .8;
      }
    }

  }
}
